#letters-attempted {
    height: 1em;
    font-size: 18px;
}

#guesses-text {
    display: inline-block;
}

label {
    font-size: 18px;
}

#letter-input {
    font-size: 20px;
    padding: 0 0.5em;
    width: 1em;
}